@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 6px;
    background : white;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4c1d95;
    border-left: 1px solid white;
    border-right: 1px solid white;
  }